<!DOCTYPE html>
@{
    ViewBag.Title = "Profil";
}
<html>
<head>

</head>
<body>

    <div class="container">
        <div class="col-md-6" style="margin-top: 15px">

            <nav style="text-align:center">

                <img src="~/Content/ayam.png" height="200" width="200" />
            </nav>

            <article>
                <h3>Profil</h3>
                <p>
                    Ayam Potong Pak Yosep berdiri sejak tahun 1990. Sesuai dengan namanya, kemitraan ayam potong ini didirikan oleh Pak Yosep Parto Sutijo
                    Bisnis ayam potong ini diawali dengan berjualan telur ayam, yang kemudian berkembang menjadi bisnis yang sekarang ini
                </p>
                <p>
                    Pada zaman era teknologi saat ini, bisnis ayam pak Yosep beinovasi untuk membuat masyarakat khususnya yang berada di Jawa Tengan, memperoleh
                    kemudahan dalam memesan ayam dan kebutuhannya dengan memanfaatkan teknologi yang ada.
                </p>
                <p>Dengan pemesanan Ayam berbasis web, kini memesan ayam dapat dilakukan dengan mudah dan cepat.</p>
            </article>
        </div>
        <div class="col-md-6">

            <nav>
                <h3>Daerah Pengiriman</h3>
                <ul>
                    <li>Purwokerto Selatan</li>
                    <li>Purwokerto Barat</li>
                    <li>Purwokerto Timur</li>
                    <li>Purwokerto Utara</li>
                    <li>Buayan</li>
                    <li>Puring</li>
                    <li>Petanahan</li>
                    <li>Ambal</li>
                    <li>Gombong</li>
                    <li>Karanganyar</li>
                    <li>Kutoarjo</li>
                </ul>

            </nav>
            <article>
                <h3>Cara Pemesanan</h3>
                <ol>
                    <li>Pilih Produk pada Menu untuk melihat produk</li>
                    <li>Klik gambar produk untuk melihat detail produk atau kllik Tambahkan ke Keranjang untuk membelinya</li>
                    <li>Klik Check Out untuk melanjutkan ke proses pembayaran</li>
                    <li>Masuk sebagai pelanggan jika sudah mempunyai akun atau daftar untuk menjadi Pelanggan</li>
                    <li>Isi Form Pemesanan</li>
                    <li>Pilih Metode Bayar</li>
                    <li>Konfirmasi Pemesanan akan dikirimkan ke email dan sms yang memberitahukan bahwa proses transaksi sudah dilakukan dan nomor rekening yang harus dituju untuk melakukan pembayaran</li>
                    <li>Pembayaran</li>
                    <li>Setelah Pembayaran selesai, Pengiriman akan diproses</li>
                </ol>
            </article>
        </div>
        <div class="col-md-6">
            <h3>Pengiriman</h3>
            <ol>
                <li>Pengiriman dapat diproses dengan minimum pembelian 80 kg untuk pembelian ayam</li>
                <li>Pembayaran harus dilakukan dalam 24 jam setelah proses pemesanan</li>
                <li>Pengiriman akan langsung dilakukan setelah proses pemabayaran selesai</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h3>Butuh Bantuan?</h3>
            <br />
            <h4>Hubungi Kami :</h4>
            <div>
                <img src="~/Content/phone.png" height="20" width="20" />    08172826067
                <br />
                <br />
                <img src="~/Content/email.png" height="20" width="20" /> yosepsutijo@gmail.com
            </div>
            <br />

            <h4>Lokasi</h4>
            <img src="~/Content/lokasi.png" height="20" width="20" /> Ds. Grenggeng RT 02/ RW 09 No.10, Karanganyar, Kebumen
        </div>


    </div>

</body>
</html>
